@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #0b0c1b

}

.navegacion{
    width: 100%;
    height: 80px;
    background: #0f1216;
  }
  
  .navegacion ul{
    list-style: none;
    
  }
  
  .navegacion > ul{
    float: right;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
    
  }
  .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #f2f2f2;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  .menu > li > a:hover{
    background-color: #CE7D35;
    transition: all .3s;
  }

  #logo{
    height: 100%;
    width:50%;
  }

  #logo > img{
    position: relative;
    top: 5% ;
    left: 10%;
    height: 80%;
  }

#slide{
  width: 100%;
  height: 80vh;
  background-image: url(../images/slide.jpg);
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(50%);

}

.texto-slide{
  text-align: left;
  margin: 5% 5%;
  position: absolute;
}
.texto-slide>p{
  color:#f2f2f2;
  font-size: 25px;
 
}

.texto-slide>h1{
  color: #f2f2f2;
  font-size: 70px;
}

.texto-slide>h3{
  color: #f2f2f2;
  font-size: 30px;
}


#container{
  width: 100%;
  height: 100%;
}



#videos{
  width: 100%;
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%
}

.video{
  margin-left: 20px;
  height: 200px;
  width: 300px;
  border: 1px solid rgb(126, 126, 126);
  background:rgb(2, 3, 26);
  border-radius: 10px;
  padding:5px;
  transition: 0.3s;

}

.video:hover{
  transform:  translateX(6px);
  box-shadow: 0px 13px 18px 0px rgba(191,191,191,0.75);

}

.video > video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 180px;
  
}

.video > p{
  font-size: 14px;
  margin-left: 5px;
  color: rgb(196, 196, 196);
  text-align: center;
}

.title_videos{
  margin-top: 50px;
}

footer{
  margin-top: 50px;
  background: #0f1216;
  width: 100%;
  color:rgb(196, 196, 196);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer>p{
  text-align: center;
  margin: 0px 10% 30px 10%
}

#container>h1{
  text-align: center;
  color:antiquewhite;
}

hr{
  width: 30%;
  margin: auto;
}



@media(max-width:750px){
  .menu{
    display: none;
  }

  #logo > img{
    position: relative;
    top: 25% ;
    left: 100%
  }
}

.carousel_history{
  position: relative;
  margin: 0 20px;

}
.carousel__item{
  height: 400px;
  margin: 0 50px;
  background: grey;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
  display: none;
  border-radius: 30px;
}

.carousel__item >img{
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 30px;
}

.carousel_item-selected{
  display: block;
}

.carousel_nav{
  margin: 10px 10%;
  background: #2f2f32;
  border-radius: 25px;
  text-align: center;
}

.carousel_button{
  width:15px;
  height: 15px;
  display: inline-block;
  background: rgb(2, 3, 26);
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.carousel_button-selected{
  background: rgb(196, 196, 196);
}



